@font-face{
    font-family: 'Android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0:  rgb(207, 247, 207);
    --cor1: rgb(161, 255, 161);
    --cor2: rgb(106, 255, 106);
    --cor3: rgb(16, 95, 62);
    --cor4: rgb(3, 58, 3);

    --fonte1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans';
    --fonte2: 'Android', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}


body{
    font-family:  Helvetica, sans-serif;
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom,rgb(84, 187, 84),
   rgb(16, 95, 62));
    min-height: 150px;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', Arial, sans-serif;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}

nav {
    padding-top: 30px;
    text-align: left;
    text-decoration: none;
}

nav > a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
}

header h1 {
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.233);
}

main{
    padding: 30px 30px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336) ;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}


main img.pq{
    display: block;
    margin: auto;
    width: 60%;
}

main p{
    text-align: justify;
    margin: 20px 0px;
    font-size: 1.05em;
}

main >article > h2{
    font-family: 'Android';
    color: var(--cor3);
    background-image: linear-gradient(to right, rgb(221, 250, 221), transparent);

}

footer{
    color: aliceblue;
    padding: 20px;
    background-color: var(--cor4);
    text-indent: 10px;
    text-align: center;
    font-size: 0.8em;

}

footer a {
    color: var(--cor0);
}

aside{
    padding: 20px;
    background-color:rgb(228, 247, 228);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type:'\2705';
}

main> aside > h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   background-color: var(--cor3);
   color: aliceblue;
}

div.video{
    background-color: rgba(131, 255, 127, 0.274);
    margin: 0px -30px 30px -30px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}

div.video > iframe {
    position: absolute;
    top:4%;
    left: 4%;
    width: 90%;
    height: 90%;

}
